{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Connexion - BeSafe{% endblock %}

{% block content %}
    <div class="container login form">
        <header>Connexion</header>
        <form method="POST" class="border p-4 rounded">
            {% csrf_token %}
            
            <!-- Username -->
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" value="{{ username|default:'' }}" class="form-control" required>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        <div class="signup">
            <span>Pas encore de compte ? <a href="{% url 'register' %}">S'inscrire</a></span>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}